.formula-editor {
  position: relative;
  background-color: #ececec;
  font-family: "PT Mono", monospace;
}

.formula-editor .formula-style-elements {
  position: absolute;
  z-index: 1;
  color: rgba(0,0,0,0);
  background-color: white;
}

.formula-editor .formula-style-elements span {
  border-top: thin solid grey;
}

.formula-input .input-label {
  padding: 5px 10px;
  width: 70px;
  box-sizing: border-box;
}

.formula-input .formula-style-elements,
.formula-input input,
.formula-input .input-label {
  display: inline-block;
}

.formula-editor .formula-style-elements,
.formula-editor input {
  width: calc(100% - 85px);
  box-sizing: border-box;
  min-height: 40px;
  padding: 5px;
}

.formula-editor input {
  position: relative;
  z-index: 2;
  font-family: "PT Mono", monospace;
  font-size: 1rem;
  background-color: rgba(0,0,0,0);
  color: #2F343F;
  border: thin solid #0055fe;
  outline: none;
}

.formula-editor input:focus {
  box-shadow: 0px 0px 3px #0055fe;
}

.formula-editor .editor-controls {
  width: 100%;
  box-sizing: border-box;
  margin-left: 70px;
  margin-bottom: 10px;
}

.formula-editor .editor-controls .variables,
.formula-editor .editor-controls .operators {
  display: inline-block;
  margin-right: 22px;
  padding-top: 10px;
  padding-bottom: 5px;

  white-space:pre-wrap;
}

.formula-editor .block-label {
  color: gray;
}

.formula-editor .variables .block-label {
  position: relative;
  left: 4px;
}

.formula-editor .operators .block-label {
  position: relative;
  left: 10px;
}

.formula-editor .button-block {
  width:100%;
}

.formula-editor .editor-controls .operators button {
  display: inline-block;
}

.formula-editor button {
  border: thin solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  height: 36px;
  font-weight: bold;
  min-width: 36px;
  box-sizing: border-box;
  background-color: #ddd;
  padding: 1px 4px;
  margin-right: 1px;
}

.formula-editor button sup {
  line-height: 0;
}

.formula-editor button:hover {
  border: thin solid #ccc;
  background-color: white;
}

button span.radical::before {
  content: '√';
  font-size: 1em;
  font-weight: bold;
}

.formula-editor .result-block {
  padding: 10px 15px 20px 0px;
  margin-left: 70px;
  margin-top: 10px;
}