.formula-editor {
  position: relative;
}

.formula-editor .formula-style-elements {
  position: absolute;
  z-index: 1;
  color: rgba(0,0,0,0);
}

.formula-editor .formula-style-elements span {
  border-top: thin solid grey;
}

.formula-editor .formula-style-elements,
.formula-editor input {
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  padding: 5px;
}

.formula-editor input {
  position: relative;
  z-index: 2;
  font-family: "PT Mono", monospace;
  font-size: 1rem;
  background-color: rgba(0,0,0,0);
  color: #2F343F;
  border: thin solid #0055fe;
  outline: none;
}

.formula-editor input:focus {
  box-shadow: 0px 0px 3px #0055fe;
}

.formula-editor .editor-controls {
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 50% 50%;
  align-items: start;

  background-color: #f9f9f9;
  border: thin solid gray;
  border-bottom: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.formula-editor .editor-controls .variables {
  grid-column: 1;
}

.formula-editor .editor-controls .operators {
  grid-column: 2;
  border-left: thin solid gray;
}

.formula-editor .editor-controls .operators div {
  display: inline-block;
}

.formula-editor .editor-controls .operators div button {
  display: block;
}

.formula-editor .editor-controls .button-block {
  display: inline-block;
  margin-left: 5px;
}

.formula-editor .variables, .formula-editor .operators {
  padding-top: 4px;
  padding-bottom: 4px;
}

.formula-editor .block-label {
  display: inline-block;
  vertical-align:top;
  margin-right: 15px;
  margin-left: 10px;
  color: gray;
}

.formula-editor button {
  border: thin solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  height: 36px;
  font-weight: bold;
  min-width: 36px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding: 1px 4px;
}

.formula-editor button sup {
  line-height: 0;
}
.formula-editor button:hover {
  border: thin solid #ccc;
}

button span.radical::before {
  content: '√';
  font-size: 1em;
  font-weight: bold;
}
