/* todo use scss or less for this */
@keyframes pulse-red {
  0% {
    color: #dc3723;
    stroke: #dc3723;
    stroke-width: 4px;
  }
  50% {
    color: #ffaaa0;
    stroke: #ffaaa0;
    stroke-width: 7px;
  }
  100% {
    color: #dc3723;
    stroke: #dc3723;
    stroke-width: 4px;
  }
}


@keyframes pulse-green {
  0% {
    color: #009137;
    stroke: #009137;
    stroke-width: 4px;
  }
  50% {
    color: #7ce2a3;
    stroke: #7ce2a3;
    stroke-width: 7px;
  }
  100% {
    color: #009137;
    stroke: #009137;
    stroke-width: 4px;
  }
}

@keyframes pulse-yellow {
  0% {
    color: #f29b00;
    stroke: #f29b00;
    stroke-width: 4px;
  }
  50% {
    color: #ffdc5e;
    stroke: #ffdc5e;
    stroke-width: 7px;
  }
  100% {
    color: #f29b00;
    stroke: #f29b00;
    stroke-width: 4px;
  }
}