p.pythagoras-formula {
    font-weight: bold;
    font-size: 1.13rem;
    letter-spacing: .1em;
}

.step.active p.pythagoras-formula span.highlight {
  border-bottom: none;
}

p.pythagoras-formula span:not(.highlighted) {
  text-decoration: none;
}

p.pythagoras-formula span.highlighted {
    text-decoration: underline;
}

p.pythagoras-formula span.highlighted.hypothenuse,
p.pythagoras-formula span.highlighted.cathetus-2,
p.pythagoras-formula span.highlighted.cathetus-1
{
  animation: pulse-opacity 1.5s linear 0s 3 normal running;
}