.scroller-indicator {
  position: fixed;
  bottom: 0px;
  left: calc(50% + 10px);
  width: 100%;
  padding: 20px;
  background-color: rgba(256, 256, 256, .7);

  font-size: 0.8em;
  font-weight: bold;
  /* to prevent fromula input showing over it*/
  z-index: 3;
}

.scroller-indicator svg {
  vertical-align: middle;
  margin-right: 10px;
}

.scroller-indicator polyline,
.scroller-indicator rect {
  fill: none;
  stroke: #2f343f;
  stroke-width: 3px;
}

.scroller-indicator circle {
  fill:  #2f343f;
  stroke: none;
}

.scroller-indicator span {
  position: relative;
  top: -8px;
}

@media (max-width: 1125px) {
  .scroller-indicator {
    left: 570px;
  }
}