.tr-grid {
    stroke-width: .5px;
}

.tr-grid.vertical {
    stroke: #00CFFF;
}

.tr-grid.horizontal {
    stroke: #BC2CFF;
}

/* 'diagonal' may be a better name */
.tr-grid.rotated {
    stroke: #32FF00;
}