svg .triangle text {
  font-weight: bold;
  fill: #2F343F;
}

svg .triangle .side-len,
svg .triangle text{
  font-size: 1.13rem;
}

svg .triangle line {
    stroke-width: 4.8px;
    stroke-linecap: square;
}

svg .triangle line.highlighted {
  stroke-width: 5px;
}

svg .triangle .cathetus-1 {
  stroke: #00CFFF
}

svg .triangle .cathetus-2 {
  stroke: #BC2CFF;
}

svg .triangle .hypothenuse {
  stroke: #32FF00;
}

svg .triangle .side-len.cathetus-1 {
  fill: #00CFFF;
  text-anchor: middle;
}

svg .triangle .side-len.cathetus-2 {
  fill: #BC2CFF;
  text-anchor: end;
}

svg .triangle .side-len.hypothenuse {
  fill: #32FF00;
}

svg .right-angle polyline {
    stroke: grey;
    stroke-width: 2px;
    fill: none;
}