svg .triangle line {
    stroke-width: 3px;
    stroke-linecap: square;
}

svg .triangle line.highlighted {
  /* filter: drop-shadow(0px 0px 5px grey) */
  stroke-width: 4px;
}

svg .triangle line.highlighted.hypothenuse {
  animation: pulse-red 1s linear 0s 3 normal running;
}

svg .triangle line.highlighted.cathetus-2 {
  animation: pulse-green 1s linear 0s 3 normal running;
}

svg .triangle line.highlighted.cathetus-1 {
  animation: pulse-yellow 1s linear 0s 3 normal running;
}

svg .triangle text {
  font-weight: bold;
  font-size: 1.3rem;
  fill: #2F343F;
}

svg .triangle .side-len {
  font-size: 1.1rem;
}

svg .triangle .side-len.cathetus-1 {
  fill: #f29b00;
  text-anchor: middle;
}

svg .triangle .side-len.cathetus-2 {
  fill: #009137;
  text-anchor: end;
}

svg .triangle .side-len.hypothenuse {
  fill: #dc3723;
}

svg .right-angle polyline {
    stroke: grey;
    stroke-width: 2px;
    fill: none;
}