svg .triangle line {
    stroke-width: 3px;
    stroke-linecap: square;
}

svg .triangle line.highlighted {
  /* filter: drop-shadow(0px 0px 5px grey) */
  stroke-width: 4px;
}

/* todo make one style for ALL highlight animations*/
svg .triangle line.highlighted {
  animation: pulse-opacity 1.5s linear 0s 3 normal running;
}

svg .triangle text {
  font-weight: bold;
  font-size: 1.3rem;
  fill: #2F343F;
}

svg .triangle .side-len {
  font-size: 1.1rem;
}

svg .triangle .side-len.cathetus-1 {
  fill: #00CFFF;
  text-anchor: middle;
}

svg .triangle .side-len.cathetus-2 {
  fill: #BC2CFF;
  text-anchor: end;
}

svg .triangle .side-len.hypothenuse {
  fill: #32FF00;
}

svg .right-angle polyline {
    stroke: grey;
    stroke-width: 2px;
    fill: none;
}