svg .test-values line {
    stroke-width: 4px;
}

svg line.dashed {
    stroke-width: 2px;
    stroke-dasharray: 1 2;
}

svg .test-values circle {
    stroke: white;
    stroke-width: 1;
}

svg .test-values text {
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 1.3em;
    font-weight: bold;
}

/* todo select one way of doing this */
svg line.lawfullness-value,
svg .lawfullness-value line{
    stroke: #f29b00;
}

svg .lawfullness-value circle,
svg .lawfullness-value text {
    fill: #f29b00;
}

svg line.goodness-value,
svg .goodness-value line {
    stroke: #009137;
}

svg line.distance-value {
    stroke: #dc3723;
}

svg .goodness-value circle,
svg .goodness-value text {
    fill: #009137;
}

svg .test-values .combined-value circle {
    stroke: white;
    fill-opacity: 0;
}