svg .test-values line {
    stroke-width: 4px;
}

svg line.dashed {
    stroke-width: 2px;
    stroke-dasharray: 1 2;
}

svg .test-values circle {
    stroke: #282c34;
    stroke-width: 1;
}

svg .test-values text {
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 1.3em;
    font-weight: bold;
}

svg line.lawfullness-value {
    stroke: #f29b00;
}

svg .lawfullness-value circle,
svg .lawfullness-value text {
    fill: #f29b00;
}

svg line.goodness-value {
    stroke: #2d719d;
}

svg line.distance-value {
    stroke: #dc3723;
}

svg .goodness-value circle,
svg .goodness-value text {
    fill: #2d719d;
}
