svg .test-values line {
    stroke-width: 4px;
}

svg line.dashed {
    stroke-width: 2px;
    stroke-dasharray: 1 2;
}

svg .test-values circle {
    stroke: white;
    stroke-width: 1;
}

svg .test-values text {
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 1.13em;
    font-weight: bold;
}

/* todo select one way of doing this */
svg line.lawfullness-value,
svg .lawfullness-value line{
    stroke: #00CFFF;
}

svg .lawfullness-value circle,
svg .lawfullness-value text {
    fill: #00CFFF;
}

svg line.goodness-value,
svg .goodness-value line {
    stroke: #BC2CFF;
}

svg line.distance-value {
    stroke: #32FF00;
}

svg .goodness-value circle,
svg .goodness-value text {
    fill: #BC2CFF;
}

svg .test-values .combined-value circle {
    stroke: white;
    storke-width: 1px;
    fill: #2F343F;
}