html, body, button {
  background-color: white;
  font-size: 19.2px;
  color: #2F343F;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.step {
  font-size: 1em;
  line-height: 1.4;
  margin: 20px 10px 60px 20px;
  padding: 10px;
  min-height: 240px;
  color: rgb(177, 177, 177);
}

.step.active {
  color: #2F343F;
}

.step blockquote {
  padding: 16px;
  padding-bottom: 28px;
  padding-left: 24px;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: .05em;
  color: white;
  background-color:#0055fe;
  margin-left: 0px;
  margin-right: 0px;
}

.scroller-container {
  display: grid;
  grid-template-columns: 560px 5px 1fr;
  justify-content: center;
  max-width: 1120px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.scroller-steps {
  grid-column: 3;
  position: relative;
  top: 100px;
  /* outline: #333 solid thin; */
}

.scroller-response-els {
  grid-column: 1;
  margin-top: 20px;
}

.scroller-response-els > * {
  position: sticky;
  top: 100px;
}

svg text {
  fill: #2F343F;
}

.label {
  position: absolute;
  margin: 0;
  font-size: 1.13rem;
}

.label .triangle-side {
  font-weight: bold;
}

svg text.axis-label {
  font-weight: bold;
  font-size: .8rem;
  text-transform: uppercase;
  fill: #999;
}

.fade-out-appear {
  opacity: 1;
}

.fade-out-progress {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.fade-in-appear {
  opacity: 0;
}

.fade-in-progress {
  opacity: 1;
  transition: all 500ms;
}

@keyframes pulse-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}


span.radical > span {
  border-top: thin solid #2F343F;
}

span.radical::before {
  content: '√';
  font-size: 1.2em;
  border-top: none;
}

span.radical span.radical > span {
  font-size: 0.9em;
}

  span.cathetus-1 {
  color: #00CFFF;
}

span.cathetus-2 {
  color: #BC2CFF;
}

span.hypothenuse {
  color: #32FF00;
}

span.with-tooltip {
  border-bottom: thin dotted #2F343F;
}