html, body, button {
  background-color: white;
  font-size: 19.2px;
  color: #2F343F;
}

.step {
  font-size: 1em;
  line-height: 1.4;
  margin: 20px 10px 60px 20px;
  padding: 10px;
  min-height: 240px;
  color: rgb(177, 177, 177);
}

.step.active {
  color: #2F343F;
}

.step blockquote {
  padding: 16px;
  padding-bottom: 28px;
  padding-left: 24px;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: .05em;
  color: white;
  background-color:#0055fe;
  margin-left: 0px;
  margin-right: 0px;
}

.scroller-container {
  display: grid;
  grid-template-columns: 560px 5px 1fr;
  justify-content: center;
  max-width: 1120px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.scroller-steps {
  grid-column: 3;
  position: relative;
  top: 100px;
  /* outline: #333 solid thin; */
}

.scroller-response-els {
  grid-column: 1;
  margin-top: 20px;
}

.step.active .highlight {
  border-bottom: 5px solid #0055fe;
  padding-right: 2px;
  padding-left: 2px;
}

.step.active blockquote .highlight {
  border-bottom: 5px solid white;
}

.step.active blockquote span.highlight:hover {
  color: #0055fe;
  border-bottom: 4.8px solid white;
  background: linear-gradient(0deg, white 70%, #0055fe00 30%);
  background-repeat: no-repeat;
}

.step.active span.highlight:hover {
  color: white;
  border-bottom: 4.8px solid #0055fe;
  background: linear-gradient(0deg, #0055fe 85%, #0055fe00 15%);
  background-repeat: no-repeat;
}

.step span.highlight.active {
  color: black;
}

.scroller-response-els > * {
  position: sticky;
  top: 100px;
}

svg text {
  fill: #2F343F;
}

.label {
  position: absolute;
  margin: 0;
  font-size: 1.13rem;
}

.label .triangle-side {
  font-weight: bold;
}

svg .highlighted {
  animation: pulse-opacity 1s linear 0s 3 normal running;
}

svg text.axis-label {
  font-weight: bold;
  font-size: .8rem;
  text-transform: uppercase;
  fill: #999;
}

.fade-out-appear {
  opacity: 1;
}

.fade-out-progress {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.fade-in-appear {
  opacity: 0;
}

.fade-in-progress {
  opacity: 1;
  transition: all 500ms;
}

@keyframes pulse-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}


span.radical > span {
  border-top: thin solid #2F343F;
}

span.radical::before {
  content: '√';
  font-size: 1.2em;
  border-top: none;
}

span.radical span.radical > span {
  font-size: 0.9em;
}

span.math-placeholder {
  display: inline-block;
  width: .618rem;
  height: .7rem;
  border: thin solid #2F343F;
}

.formula-editor {
  position: relative;
}

.formula-editor .formula-style-elements {
  position: absolute;
  z-index: 1;
  color: rgba(0,0,0,0);
}

.formula-editor .formula-style-elements span {
  border-top: thin solid grey;
}

.formula-editor .formula-style-elements,
.formula-editor input {
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  padding: 5px;
}

.formula-editor input {
  position: relative;
  z-index: 2;
  font-family: "PT Mono", monospace;
  font-size: 1rem;
  background-color: rgba(0,0,0,0);
  color: #2F343F;
  border: thin solid #0055fe;
  outline: none;
}

.formula-editor input:focus {
  box-shadow: 0px 0px 3px #0055fe;
}

.formula-editor .editor-controls {
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 50% 50%;
  align-items: start;

  background-color: #f9f9f9;
  border: thin solid gray;
  border-bottom: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.formula-editor .editor-controls .variables {
  grid-column: 1;
}

.formula-editor .editor-controls .operators {
  grid-column: 2;
  border-left: thin solid gray;
}

.formula-editor .editor-controls .operators div {
  display: inline-block;
}

.formula-editor .editor-controls .operators div button {
  display: block;
}

.formula-editor .editor-controls .button-block {
  display: inline-block;
  margin-left: 5px;
}

.formula-editor .variables, .formula-editor .operators {
  padding-top: 4px;
  padding-bottom: 4px;
}

.formula-editor .block-label {
  display: inline-block;
  vertical-align:top;
  margin-right: 15px;
  margin-left: 10px;
  color: gray;
}

.formula-editor button {
  border: thin solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  height: 36px;
  font-weight: bold;
  min-width: 36px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding: 1px 4px;
}

.formula-editor button sup {
  line-height: 0;
}
.formula-editor button:hover {
  border: thin solid #ccc;
}

button span.radical::before {
  content: '√';
  font-size: 1em;
  font-weight: bold;
}

  span.cathetus-1 {
  color: #00CFFF;
}

span.cathetus-2 {
  color: #BC2CFF;
}

span.hypothenuse {
  color: #32FF00;
}

span.with-tooltip {
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}