body {
  background-color: #282c34;
}

article {
  color: white;
}

.scroller-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 200px;
}

.scroller-steps {
  grid-column: 1;
  position: relative;
  top: 100px;
}

.scroller-response-els {
  grid-column: 2;
  margin-top: 60px;
}

.step {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 60px 20px;
  padding: 20px;
  min-height: 200px;
  color: #666;
  /* outline: thin solid red; */
}

.step.active {
  color: #c9c9c9;
}


.step span.highlight {
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

.step span.highlight.active {
  text-shadow: 0px 0px 3px white;
}

.scroller-response-els > * {
  position: sticky;
  top: 160px;
}

/*
svg {
  outline: thin solid salmon;
}
*/

svg text {
  fill: #c9c9c9;
}

svg .triangle text {
  font-weight: bold;
  font-size: 1.3em;
}

svg .definition text {
  font-size: 1.2em;
}

svg line.highlighted {
  /* filter: drop-shadow(0px 0px 5px grey) */
  filter: url('#highlight-glow-filter')
}